# for Fast API
fastapi
uvicorn
python-multipart

# Dotenv
python-dotenv

# Firebase
firebase-admin
google-cloud-storage

# Lint
flake8
black

# OpenAI
openai
langchain
youtube-transcript-api